<div class="jumbotron">
  <h1><i class="fa fa-circle-o-notch"></i>Stukdo</h1>
  <p>TO DO list app</p>
  <p> <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary btn-lg" %> </p>
</div>
